# Name: Shrook Ehab Attia
# AI Nasr City Intake 2

## Task 1 - SQL

### Build SparkSession:

In [8]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as fn

In [2]:
spark = SparkSession.builder.getOrCreate()

### Read the json file:

In [3]:
df_samples = spark.read.json('DataFrames_sample.json')

### Display the schema:

In [4]:
df_samples.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [24]:
df_samples.select('*').where(fn.col('Model') == 'MacBook Pro').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

In [10]:
df_samples.createOrReplaceTempView('DataFrames_sample_json_file')

### Display "RAM"column and count "RAM" column:

In [20]:
spark.sql("""select ram, count(ram) from DataFrames_sample_json_file group by ram""").show()

+----+----------+
| ram|count(ram)|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [21]:
spark.sql("""select * from DataFrames_sample_json_file where year=='2015'""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [23]:
spark.sql("""select * from DataFrames_sample_json_file where model like 'M%'""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [25]:
spark.sql("""select * from DataFrames_sample_json_file where model=='MacBook Pro'""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [26]:
spark.sql("""select * from DataFrames_sample_json_file where ram=='8GB' and model=='MacBook'""").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [27]:
spark.sql("""select * from DataFrames_sample_json_file where d>= 8 and model=='iMac'""").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [31]:
df_test1 = spark.read.csv('test1.csv', header=True)

### Display Salary of the people less than or equal to 20000

In [32]:
df_test1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [33]:
df_test1.select('Salary').filter(df_test1['Salary'] <= 20000).show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

In [34]:
df_test1.select('Salary').where(fn.col('Salary') <= 20000).show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [37]:
df_test1.select('Salary').filter((df_test1['Salary'] <= 20000) & (df_test1['Salary'] >= 15000)).show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

In [38]:
df_test1.select('Salary').where((fn.col('Salary') <= 20000) & (fn.col('Salary') >= 15000)).show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

## Task 3

### Read "test3" dataset:

In [39]:
df_test3 = spark.read.csv('test3.csv', header=True)

### Display dataset

In [40]:
df_test3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [41]:
df_test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: string (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [44]:
df_test3.groupBy('Name').agg(fn.sum('Name')).show()

+---------+---------+
|     Name|sum(Name)|
+---------+---------+
|Sudhanshu|     null|
|    Sunny|     null|
|    Krish|     null|
|   Mahesh|     null|
+---------+---------+

In [43]:
df_test3.groupBy('Name').agg(fn.sum('Salary')).show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|    35000.0|
|    Sunny|    12000.0|
|    Krish|    19000.0|
|   Mahesh|     7000.0|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [45]:
df_test3.groupBy('Name').agg(fn.avg('Name')).show()

+---------+---------+
|     Name|avg(Name)|
+---------+---------+
|Sudhanshu|     null|
|    Sunny|     null|
|    Krish|     null|
|   Mahesh|     null|
+---------+---------+

In [46]:
df_test3.groupBy('Name').agg(fn.avg('Salary')).show()

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [47]:
df_test3.groupBy('Departments').agg(fn.sum('Departments')).show()

+------------+----------------+
| Departments|sum(Departments)|
+------------+----------------+
|         IOT|            null|
|    Big Data|            null|
|Data Science|            null|
+------------+----------------+

In [48]:
df_test3.groupBy('Departments').agg(fn.sum('Salary')).show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|    15000.0|
|    Big Data|    15000.0|
|Data Science|    43000.0|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [49]:
df_test3.groupBy('Departments').agg(fn.mean('Departments')).show()

+------------+----------------+
| Departments|avg(Departments)|
+------------+----------------+
|         IOT|            null|
|    Big Data|            null|
|Data Science|            null|
+------------+----------------+

In [50]:
df_test3.groupBy('Departments').agg(fn.mean('Salary')).show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [51]:
df_test3.groupBy('Departments').agg(fn.count('Departments')).show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [53]:
df_test3.agg(fn.sum('Salary')).show()

+-----------+
|sum(Salary)|
+-----------+
|    73000.0|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [69]:
df_iti_data = spark.read.csv('ITI_data.csv', header=True, inferSchema=True)

In [70]:
df_iti_data.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [71]:
df_iti_data.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

### OneHotEncoder

In [72]:
from pyspark.ml.feature import VectorAssembler, StringIndexer, OneHotEncoder

In [73]:
trainDF, testDF = df_iti_data.randomSplit([.8,.2],seed=42)
print(f"There are {trainDF.count()} rows in the training set, and {testDF.count()} in the test set")

There are 133 rows in the training set, and 25 in the test set

In [74]:
categoricalCols = [field for (field, dataType) in trainDF.dtypes
                  if dataType == 'string']
categoricalCols

['Ship_name', 'Cruise_line']

In [80]:
numericCols = [field for (field,dataType) in trainDF.dtypes
              if ((dataType!='string')&(field!='crew'))]
numericCols

['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

In [81]:
indexOutputCols = [x + "_Index" for x in categoricalCols]
indexOutputCols

['Ship_name_Index', 'Cruise_line_Index']

In [82]:
oheOutputCols = [x + "_OHE" for x in categoricalCols]
oheOutputCols

['Ship_name_OHE', 'Cruise_line_OHE']

In [83]:
stringIndexer = StringIndexer(inputCols=categoricalCols,
                              outputCols=indexOutputCols,
                             handleInvalid='skip')

In [79]:
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

###Use VectorAssembler to merge all columns into one column:

In [85]:
assemblerInputs = oheOutputCols + numericCols
assemblerInputs

['Ship_name_OHE',
 'Cruise_line_OHE',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density']

In [88]:
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

### Create a Linear Regression Model

In [89]:
from pyspark.ml.regression import LinearRegression

In [90]:
lr = LinearRegression(featuresCol='features',
                      labelCol='crew',
                      predictionCol='prediction')

### Creating a Pipeline

In [91]:
from pyspark.ml import Pipeline

In [92]:
pipeline = Pipeline(stages=[stringIndexer,oheEncoder,
                           vecAssembler,lr])

In [93]:
pipelineModel = pipeline.fit(trainDF)

In [94]:
predDF = pipelineModel.transform(testDF)

In [95]:
predDF.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)
 |-- Ship_name_Index: double (nullable = false)
 |-- Cruise_line_Index: double (nullable = false)
 |-- Ship_name_OHE: vector (nullable = true)
 |-- Cruise_line_OHE: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [96]:
predDF.select('features','crew','prediction').show(5)

+--------------------+----+------------------+
|            features|crew|        prediction|
+--------------------+----+------------------+
|(141,[26,119,135,...|12.0|14.827026154576883|
|(141,[49,118,135,...|8.69|7.5507749324035265|
|(141,[89,121,135,...| 6.3| 6.257969271425636|
|(141,[9,134,135,1...|0.88|-2.843884120871538|
|(141,[112,133,135...|1.97|-2.263445892994958|
+--------------------+----+------------------+

### Model Evaluation

In [101]:
from pyspark.ml.evaluation import RegressionEvaluator

In [102]:
r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='r2').evaluate(predDF)
print(f"R2 is {r2}")

R2 is 0.5210674292468557

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566